<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a class="text-decoration-none" href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
          </li>
          <li class="">
            <a class="text-decoration-none" href="index.html"><i class="menu-icon fa fa-laptop"></i>Hotel </a>
          </li>
          <li class="">
            <a class="text-decoration-none" href="index.html"><i class="menu-icon fa fa-laptop"></i>Room </a>
          </li>
          <li class="">
            <a class="text-decoration-none" href="index.html"><i class="menu-icon fa fa-laptop"></i>Users </a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>