
<!-- start navabr  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow p-3 mb-0 bg-body rounded shadow-lg"  style="background-color: #FFFFFF;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="Logo" width="100" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
         
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<!-- End navbar  -->

<!-- container  -->
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/room.jpg);background-repeat: no-repeat;background-size: 100%; background-size: cover;">
 <div>
  <div class="pt-5">
    <h1 class="text-white fw-bold">Welcome To Booking</h1>
    <h3 class="text-white fw-bold mb-2">Your One-Stop Shop for Travel Reservations</h3>
  </div>
  
  <form class="d-md-flex p-5 pt-3 opacity-10 rounded gap-3" style="background-color: #333; color: white;">
      <div class="form-group">
        <label class="form-label mt-2" for="form8Example3">City</label>
        <input type="text" id="form8Example3" class="form-control" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2" for="form8Example4">price</label>
        <input type="tel" id="form8Example4" class="form-control" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2" for="form8Example4">filter</label>
        <button type="button" class="btn btn-success form-control">filter</button>
      </div>
  
    </form>
  </div>

</div>


<!-- End  container  -->
<div class="container-fluid mt-5">
  <div class="card" style="width: 18rem;">
    <img src="assets/img/droom.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>