<!-- start navabr  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow p-3 mb-0 bg-body rounded shadow-lg"  style="background-color: #FFFFFF;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="Logo" width="100" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
         
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<!-- End navbar  -->
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/room.jpg);background-repeat: no-repeat;background-size: 100%; background-size: cover;">

  
  <form #addForm="ngForm" (ngSubmit)="reservation(addForm)" class="d-md-flex p-5 pt-3 opacity-10 rounded gap-3" style="background-color: #333; color: white;">
      <div class="form-group">
        <label class="form-label mt-2" for="form8Example3">Check-in</label>
        <input type="date" ngModel name="startDate" id="form8Example3" class="form-control" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2" for="form8Example4">Check-out</label>
        <input type="date" ngModel name="endDate" id="form8Example4" class="form-control" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2" for="form8Example4">Reservation</label>
        <button type="submit"  class="btn btn-success form-control">Reservation</button>
      </div>
  
</form>
</div>
<div class="container-fluid">
<div class="card mt-2 mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/img/room.jpg" class="img-fluid rounded-start h-100" alt="droom">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Room Type:  {{room.roomType}}</h5>
        <h5>Room Capacity:  {{room.capacity}}</h5>
        <h5>Room Price:  {{room.price}}</h5>
        <p class="card-text">Room Description: {{room.description}} </p>
      </div>
    </div>
  </div>
</div>
</div>