

<main id="main" class="main">
  <div class="d-flex  justify-content-between">
    <h3>List of hotels </h3>
    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addhotel">
      Add hotel
    </button>
  </div>
    <div class="table-responsive">
      <table class="table align-middle mb-0 bg-white ">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Status</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels" >
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://thumbs.dreamstime.com/b/hotel-10732347.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded "
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{hotel.hotelName}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{hotel.country}}</p>
         
            </td>
            <td>{{hotel.city}}</td>
            <td *ngIf="hotel.status === 'ACTIVE'">
              <span class="badge rounded-pill bg-success">ACTIVE</span>
            </td>
            <td *ngIf="hotel.status === 'DEACTIVATE'">
              <span  class="badge rounded-pill bg-danger">DEACTIVATE</span>
            </td>
           
            <td>
              <a type="button" routerLink="/hoteldetails/{{hotel.id}}"  class="btn btn-link btn-sm btn-rounded">
                Show
              </a>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>




    <!-- modal add client  -->
  <div class="modal" id="addhotel">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Client</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">


          <form #addForm="ngForm" (ngSubmit)="addHotel(addForm)">
            <div class="form-group">
              <label for="hotelName">hotelName</label>
              <input type="text" ngModel name="hotelName" class="form-control" id="hotelName" placeholder="hotelName"
                required>
            </div>
            <div class="form-group">
              <label for="address">address</label>
              <input type="text" ngModel name="address" class="form-control" id="address" placeholder="address"
                required>
            </div>
          
            <div class="form-group">
              <label for="country">country</label>
              <input type="text" ngModel name="country" class="form-control" id="country" placeholder="country"
                required>
            </div>
          
            <div class="form-group">
              <label for="city">city</label>
              <input type="text" ngModel name="city" class="form-control" id="city" placeholder="city"
                required>
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal client  -->
 
 
    </main>