<main id="main" class="main">
    <div class="d-flex  justify-content-between">
        <h3>List of rooms </h3>
        <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addRoom">
          Add Room
        </button>
      </div>
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>roomNumber</th>
            <th>price</th>
            <th>numberBeds</th>
            <th>status</th>
            <th>hotelName</th>
            <th>manager</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td>
              <div class="d-flex align-items-center">
                <!-- <img src="assets/img/logo.png" alt="" style="width: 45px; height: 45px"
                  class="rounded-circle" /> -->
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{room.roomNumber}}</p>
    
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{room.price}}</p>
            </td>
            <td>
              <span class="fw-normal mb-1">{{room.numberBeds}}</span>
            </td>
            <td>
                <span class="fw-normal mb-1">{{room.roomStatus}}</span>
            </td>
            <td>
              <span class="fw-normal mb-1">{{room.hotel.hotelName}}</span>
            </td>
            <td>
                <span class="fw-normal mb-1">{{room.hotel.manager.firstName}}</span>
            </td>
          </tr>
         
    
        </tbody>
      </table>


       <!-- modal add client  -->
  <div class="modal" id="addRoom">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Room</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">


          <form method="post" (submit)="addRoom()">
            <div class="form-group">
              <label for="roomNumber">roomNumber</label>
              <input type="text" ([ngModel])="x.roomNumber" name="roomNumber" class="form-control" id="roomNumber" placeholder="roomNumber"
                required>
            </div>
            <div class="form-group">
              <label for="price">lastpriceName</label>
              <input type="text" ([ngModel])="x.price" name="price" class="form-control" id="price" placeholder="price"
                required>
            </div>
            <div class="form-group">
              <label for="numberBeds">numberBeds </label>
              <input type="text" ([ngModel])="x.numberBeds" name="numberBeds" class="form-control" id="numberBeds" placeholder="numberBeds" required>
            </div>

            <div class="form-group mb-3">
              <label for="capacity">capacity</label>
              <input type="text" ([ngModel])="x.capacity" name="capacity" class="form-control" id="capacity" placeholder="capacity"
                required>
            </div>
            <div class="form-group mb-3">
              <label for="roomType">roomType</label>
              <input type="text" ([ngModel])="x.roomType" name="roomType" class="form-control" id="roomType" placeholder="roomType"
                required>
            </div>
            <div class="form-group mb-3">
              <label for="HotelId">HotelId</label>
              <input type="text" ([ngModel])="x.hotel.id" name="id" class="form-control" id="id" placeholder="HotelId"
                required>
            </div>
            <div class="form-group mb-3">
              <label for="description">description</label>
              <input type="description" ([ngModel])="x.description" name="description" class="form-control" id="description" placeholder="description"
                required>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button  type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal client  -->
</main>

